<div class="col-xl-8 col-lg-12">
    <div id="posts">
        <div class="container m-0 p-0">
            <div class="row">
                {{#each posts}}
                <section class="post">
                    <h3 class="title__post"><a href="/post/{{ slug }}" class="link">&#123; {{ title }} }</a></h3>
                    <h4 class="subtitle__post">&#123; Категория: <a href="#" class="link">{{category}}</a>, Дата публикации:
                        <a href="#" class="link"><time datetime="2021-07-07">{{date}}</time></a> }</h4>
                    <p class="text__post">
                        {{ prevText }}
                    </p>
                    <p class="tags__post">
                        &#123; Теги:
                        {{#each tags}}
                            &#123;&#123; <a href="/tag/{{ this }}" class="link"> {{ this }} </a> }}{{#unless @last}},{{/unless}}
                        {{/each}}
                        }
                    </p>
                </section>
                {{/each}}
                {{> pagination}}
            </div>
        </div>
    </div>
</div>